{% extends "main/layout.html" %}
{% load staticfiles %}

{% block content %}

	<h1>Partition <a href="{% url 'repository-showRepositoryDeveloppement' commit.repository.id %}">{{ commit.repository.name | capfirst }}</a> :</h1>

    <br />

            <pre id="pre_code" name="pr_code"><code class="language-markdown" name="code" id="code"></code></pre>
            <script>
                $('#code').append("<center><img src='{% static "images/ajax-loader.gif" %}' alt='ajax-loader' class='img-responsive' /></center>");

            $.ajax({
                url : '{% url 'repository-downloadViewsFile' file.id|urlencode commit.id|urlencode %}',
                type : 'GET',
                success : function(code, statut){
                    $("#code").text(code);
                },
                error : function(resultat, statut, erreur){
                },

                complete : function(resultat, statut){
                }
            });

            </script>
       

    <br /><br />

    <a href="{% url 'repository-warningDownloadFile' file.id commit.id|urlencode %}">Télecharger</a><br />



<br /><br />

 {% endblock %}