{% extends "main/layout.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}

	<h1>Edition du fichier {{ file.name | capfirst }} :</h1>
	
	<div id='loader'></div>
	<div class="row">
        <div class="col-md-3">
            
            <form action="{% url 'repository-editMarkdown' file.commit.id file.id %}" method="post" class="form-horizontal">{% csrf_token %}

                {{ form.as_p }}
                
                <p>Markdown :</p>
                <div id='id_markdown'></div>
                
                {% buttons %}
                    <button type="submit" class="btn btn-default">Editer</button>
                {% endbuttons %}

            </form>
     
         </div>
     </div>
     
     
     <script src='https://cdnjs.cloudflare.com/ajax/libs/showdown/1.3.0/showdown.min.js'></script>
    <script>
                $('#loader').append("<center><img src='{% static "images/ajax-loader.gif" %}' alt='ajax-loader' class='img-responsive' /></center>");

            $.ajax({
                url : '{% url 'repository-downloadViewsFile' file.id|urlencode commit.id|urlencode %}',
                type : 'GET',
                success : function(code, statut){
                    $("#loader").html('');
                    $("#id_source").text(code);
                    var converter = new showdown.Converter(),
                    html = converter.makeHtml(code);
                    $("#id_markdown").html(html);
                },
                error : function(resultat, statut, erreur){
                },

                complete : function(resultat, statut){
                }
            });

            </script>

    

<br /><br />

 {% endblock %}