{% extends "main/layout.html" %}
{% load staticfiles %}

{% block content %}


    <h2><center><em>Liste des téléchargements</em></center></h2>
    <br />
<table class="table">
    <tr>
        <td>Nom</td>
        <td>Lien</td>
    </tr>
         {% for download in listDownload %}
         <tr>
             <td>{{ download | capfirst}}</td>
              <td><a href="{% url 'repository-downloadFile' download.id|urlencode %}">Lien vers {{ download }}</a></td>
         </tr>
          {% empty %}
            <tr>
                <td>Aucun téléchargement disponible</td>
            </tr>
          {% endfor %}
          
</table>

<br /><br />

 {% endblock %}