{% extends "main/layout.html" %}
{% load staticfiles %}

{% block content %}


    <h2><center><em>Liste des téléchargements</em></center></h2>
    <br />

         {% for download in listDownload %}
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default"><a href="{ }">{{ download }}</a></button>
                </div>
            </div>
            <br />
            
          {% empty %}
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default"><a href="{ }">Aucun téléchargement disponible</a></button>
                </div>
            </div>
          {% endfor %}


<br /><br />

 {% endblock %}