{% extends "main/layout.html" %}
{% load staticfiles %}

{% block content %}


    <h2><em>Partition <a href="{% url 'repository-showRepositoryProduction' commit.repository.id %}">{{ commit.repository.name }}</a></em></h2> 
 
    {% if user.is_staff  %}
    <h4><em>Auteur :
        {% if repository.scoreAuthor.id != None %}
            <a href="{% url 'author-detail' repository.scoreAuthor.id %}">{{ repository.scoreAuthor | capfirst}}</a>
        {% else %}
            <a href="{% url 'repository-search' repository.id %}">Non renseigné</a>
        {% endif %}
    </em></h4>
{% endif %}
    <br />

    <div>


    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <a class="btn btn-default" href="{% url 'repository-listCommits' repository.id %}" role="button">Commits ({{ commits|length }})</a>
        </div>
        <div class="btn-group" role="group">
            <a class="btn btn-default" href="{% url 'repository-listContributeurs' repository.id|urlencode %}" role="button">Contributeurs ({{ commits|length }})</a>
        </div>

    </div>
    <br />

    {% if tags %}
    <form>
        <p>Tags :</p>
        <select>
          {% for tag in tags %}
            <option>{{ tag | capfirst }}</option>
          {% endfor %}
        </select>

    </form>
    
    {% endif %}


	<h3><center>Liste des fichiers  :</center></h3>
	
	<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th><center>Nom</center></th>
            <th><center>Taille</center></th>
            <th><center>Action</center></th>

        </tr>
    </thead>
    <tbody>

        {% for file in files %}
            <tr>
            <td><center><a href="{% url 'repository-showFile' file.id commit.id %}">{{ file.name | capfirst }}</a></center></td>
            <td><center>{{ file.size|filesizeformat }}</center></td>
            <td><center>
                <a href="{ url 'repository-renameFile' }" data-target="#modalRename" data-toggle="modal"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                <a href="{ url 'repository-deleteFile' }" data-target="#modalDelete" data-toggle="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                <a href="{ url 'repository-deleteFile' }" data-target="#modalReplace" data-toggle="modal"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a>
                <a href="{ url 'repository-deleteFile' }" data-target="#modalDownload" data-toggle="modal"><span class="glyphicon glyphicon-download" aria-hidden="true"></span></a>
                <a href="{ url 'repository-deleteFile' }" data-target="#modalConvert" data-toggle="modal"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></a>
                {% if file.extension == '.md' %}
                    <a href="{ url 'repository-deleteFile' }" data-target="#modalRename" data-toggle="modal"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>Modifier en ligne</a>
                {% endif %}
            </center></td>
            </tr>
            {% empty %}
            <tr>
              <td><center>Pas de fichier</center></td>
              <td></td>
              <td></td>
              
            </tr>
            {% endfor %}

    </tbody>
    </table>
    
    {% if readme %}

     <div class="panel panel-primary">
        <div class="panel-heading">
            <center><h3 class="panel-title">Readme</h3></center>
        </div>
        <div class="panel-body" id="README">
           <code class="language-markdown" name="code" id="code"></code>

        </div> 
        
        
     </div>
     
             
            <script>
                $('#code').append("<center><img src='{% static "images/ajax-loader.gif" %}' alt='ajax-loader' class='img-responsive' /></center>");

            $.ajax({
                url : '{% url 'repository-downloadViewsFile' readme.id|urlencode commit.id|urlencode %}',
                type : 'GET',
                success : function(code, statut){
                    $("#code").text(code);
                },
                error : function(resultat, statut, erreur){
                },

                complete : function(resultat, statut){
                }
            });

            </script>
     
     {% endif %}


      <a href="{% url 'repository-addFile' repository.id %}">Ajouter fichier</a><br />
      <a href="{% url 'repository-warningDownloadCommit' repository.id commit.id %}">Télécharger la version</a><br />
      {% if user.is_staff  %}
            <a href="{% url 'repository-publishDemand' %}">Publier la version</a><br />
            <a href="{% url 'repository-updateDatabase' repository.id %}">Mise à jour manuelle</a><br />
      {% else %}
            <a href="{% url 'repository-publishDemand' %}">Demander la publication</a><br />
      {% endif %}
      {% if 0 == 0 %}
            <a href="{% url 'repository-tagCommit' 1 %}" data-target="#modalTag" data-toggle="modal">Tagger</a><br />
      {% else %}
            <a href="{% url 'repository-tagCommit' 1 %}" data-target="#modalTag" data-toggle="modal">Modifier/suprimmer tag</a><br />
      {% endif %}
      {% if user.is_staff  %}
            <a href="{% url 'repository-deleteCommit' repository.id %}">Suprimmer la version</a><br />
            <a href="{% url 'repository-restartRepositoryByOldCommit' repository.id %}">Couper/recommencer à la version</a><br />
            <a href="{% url 'repository-changeDeprecated' repository.id repository.id %}">Mettre la version en deprécié</a><br />
            {% if commit.id %}
              <a href="{% url 'repository-changeCommitVisibility' commit.id 0 %}">Désactiver l'accès à la version</a><br />
            {% endif %}
            <br />
            <a href="{% url 'repository-editRepository' repository.id %}">Modifier le dépôt</a><br />
            <a href="{% url 'repository-deleteRepository' repository.id %}">Suprimmer le dépôt</a><br />
      {% endif%}



<br /><br />

<!-- Modal -->
<div class="modal fade" id="modalRename" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Renommer le fichier</h4>
      </div>
      <div class="modal-body">
        <form>
            <p>Nom : <input type="text" /></p>
        </form>
      </div>
      <div class="modal-footer">
        <input class="btn btn-primary" type="submit" value="Renommer" id="submit_rename">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>


<script>
$(document).ready(function () {
    $("input#submit_rename").click(function(){
        $(location).attr('href', '{% url 'repository-renameFile' repository.id commit.id %}');
       
    });
});
</script>

<!-- Modal  tag-->
{% for file in files %}
<div class="modal fade" id="modalTag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tagger la version</h4>
      </div>
      <div class="modal-body">
        <form>
            <p>Nom : <input type="text" id='tag_name' /></p>
        </form>
      </div>
      <div class="modal-footer">
        <input class="btn btn-primary" type="submit" value="Tagger" id="submit_tag">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<script src="https://raw.githubusercontent.com/mgalante/jquery.redirect/master/jquery.redirect.js"></script>
<script>
$(document).ready(function () {
    $("input#submit_tag").click(function(){

        $.redirect('{% url 'repository-tagCommit' commit.id %}', {'name': $('#tag_name').val(),});
       
    });
});
</script>

{% endfor %}


<!-- Modal delete -->
{% for file in files %}
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Suprimer le fichier</h4>
      </div>
      <div class="modal-body">
        <form>
            <p>Etes vous sur de vouloir suprimmer le fichier</p>

        </form>
      </div>
      <div class="modal-footer">
        <input class="btn btn-danger" type="submit" value="Suprimmer" id="submit_delete">
        <button type="button" class="btn btn-default" data-dismiss="modal" >Fermer</button>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function () {
    $("input#submit_delete").click(function(){
        $(location).attr('href', '{% url 'repository-deleteFile' file.id commit.id %}');
       
    });
});
</script>


{% endfor %}

<!-- Modal -->
<div class="modal fade" id="modalConvert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Convertir le fichier</h4>
      </div>
      <div class="modal-body">
        <form>
            <p>Etes vous sur de vouloir convertir le fichier</p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Convertir</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalReplace" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Remplacer le fichier</h4>
      </div>
      <div class="modal-body">
        <form>
            <p>Etes vous sur de vouloir remplacer le fichier</p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Remplacer</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalDownload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Télécharger le fichier</h4>
      </div>
      <div class="modal-body">
        <form id='form-download'>
            <p>Etes vous sur de vouloir telecharger le fichier</p>
        </form>
      </div>
      <div class="modal-footer">
        <input class="btn btn-primary" type="submit" value="Télécharger" id="submit">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function () {
    $("input#submit").click(function(){
        $(location).attr('href', '{% url 'repository-warningDownloadFile' repository.id commit.id %}');
       
    });
});
</script>

 {% endblock %}