wheel
Django
mysqlclient
pyapi-gitlab
flake8
markdown
git+https://github.com/praekelt/django-recaptcha
unipath
pillow
psutil
django-admin-bootstrapped
requests
raven
git+https://github.com/django-compressor/django-compressor.git
django-debug-toolbar
django-gravatar2
django-downtime
python-social-auth
celery
django-celery
django-registration-redux
django-bootstrap3
cffi
redis
cloudconvert
django-allauth
pygithub
gitpython
pylint
dj-database-url==0.4.0
gunicorn==19.4.5
psycopg2==2.6.1
whitenoise==2.0.6


