wheel
Django
pyapi-gitlab
flake8
markdown
git+https://github.com/praekelt/django-recaptcha
unipath
pillow
psutil
django-admin-bootstrapped
requests
raven
git+https://github.com/django-compressor/django-compressor.git
django-debug-toolbar
django-gravatar2
django-downtime
python-social-auth
celery
django-celery
django-registration-redux
django-bootstrap3
cffi
pygit2
redis
