{% extends "main/layout.html" %}
{% load staticfiles %}
{% block title %} CGU {% endblock %}
{% block content %}


    <h2><center><em>Conditions générales d'utilisation</em></center></h2>


        <p style="margin-top:2em">
            La maison des partitions a pour ambition d'être un site légal, exempt de tout problème lié au droit d'édition et au droit d'auteur.
            <br />
            Nous sommes situés en France. Nous nous mettons  en conformité avec la loi française sur les droits d'auteurs et d'éditeurs.
            <br />
            Le site étant communautaire, nous ne pouvons pas vérifier l'ensemble des partitions immédiatement mais une vérification sera réalisée régulièrement au hasard.
            <br />
            Si malgré nos efforts, vous constatez un problème de droits d'auteurs ou de droits d'édition, veuillez nous contacter immédiatement en nous indiquant l'adresse url de la page concernée.

        </p>




<br /><br />

 {% endblock %}