{% extends "main/layout.html" %}
{% load staticfiles %}
{% block title %} Compte utilisateur {% endblock %}
{% block content %}


    <h2><center><em>Utilisateur {{ user.username }} </em></center></h2>

    <p>Nom d'utilisateur : {{ user.username }}</p>
    <p>Email : {{ user.email }}</p>
    <p>Dernière connexion : {{ user.last_login  }}</p>
    
    <p><a href="{% url 'account_change_password' %}">Changer le mot de passe </a></p>
    <p><a href="{% url 'account_email' %}">Changer les emails</a></p>
    <p><a href="{% url 'main-editUser' %}">Changer les informations personelles</a></p>
    <p><a href="{% url 'main-unregister' %}">Désinscription</a></p>





<br /><br />

 {% endblock %}