


  <div class="col-lg-2">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="{% url 'administration-dashboard' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>  Dashboard</a></li>
            <li><a href="{% url 'administration-seo' %}"><abbr title="Search engine optimization"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>  SEO</abbr></a></li>
            <li><a href="{% url 'administration-informationsServer' %}"><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>  Métrique matériel</a></li>
            <li><a href="{% url 'administration-informationsServer' %}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>  Bugtracker</a></li>
            <li><a href="{% url 'administration-informationsServer' %}"><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>  Mail (roundcube)</a></li>
            <li><a href="https://app.getsentry.com/wwwcompany/score"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>  Log (Raven-sentry)</a></li>
            <li><a href="{% url 'administration-managementCommands' %}"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span>  Command management</a></li>


        </ul>

  </div>



